// Mobile => 766px
// Tablet 767px => 1199px
// Desktop 1100px => ~

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1192px;


$nav-bar-height: 60px;
$nav-title-offset: 174px;

$theme-color: rgb(57, 187, 100);
$background-color: rgb(246, 246, 246);
$button-hover-color: rgb(216, 216, 216);
$box-outline: rgb(235, 235, 235);
$warning-color: rgb(172, 29, 29);

// glassy
$glass-layer-1: rgb(131, 205, 137);

