// Mobile => 766px
// Tablet 767px => 1199px
// Desktop 1100px => ~

$breakpoint-tablet: 767px;
$breakpoint-desktop: 1192px;


$nav-bar-height: 60px;
$nav-title-offset: 100px;


$background-color: rgb(246, 246, 246);
$button-hover-color: rgb(216, 216, 216);