@use './globals' as *;
@use 'sass:color';

$breakpoints: (
  'tablet' : ( min-width: $breakpoint-tablet ),
  'desktop': ( min-width: $breakpoint-desktop )
);
 
@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoints}`. '
      + 'Please make sure it is defined in `$breakpoints` map.';
  }

}

/*
  Example call of respond-to mixin:

  @include respond-to(desktop) {
    max-width: 20px;
  }
*/


@mixin standard-button {
  align-items: flex-start;
  background: inherit;
  border-style: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: block;
  font: inherit;
  letter-spacing: normal;
  margin: 0;
  text-align: center;
  text-indent: 0;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;

  &:active,
  &:focus {
    outline: none;
  }
}


@mixin expense-action-button {
  backdrop-filter: blur(4px);
  background: $glass-highlight-background;
  bottom: 0;
  font-weight: 300;
  margin-top: 10px;
  padding: 0.6em 1em;
  position: absolute;
  transition: all 0.25s ease;
  width: calc(50% - 0.35em);

  &:disabled {
    background: color.change($glass-highlight-background, $alpha: 0.5);
    color: rgb(150, 150, 150);
    cursor: default;
  }
}

@mixin button-hover {
  &:hover {
    backdrop-filter: unset;
    background: color.change($glass-highlight-background, $alpha: 1) !important;
    color: #000;
    cursor: pointer;

    &::after {
      border-radius: $glassy-border-radius;
      box-shadow: 0 0 10px 2px color.adjust($theme-color, $lightness: -30%, $alpha: -0.85);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@mixin button-selected {
  &.selected {
    backdrop-filter: unset;
    background: color.change($glass-highlight-background, $alpha: 1) !important;
    color: #000;

    &::after {
      border-radius: $glassy-border-radius;
      box-shadow: 0 0 20px 5px color.adjust($theme-color, $lightness: -30%, $saturation: +20%, $alpha: -0.4);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@mixin glassy-panel {
  background-color: $glass-layer-1;
  border-radius: $glassy-border-radius;
  box-shadow: 0 8px 15px 2px rgba(31, 38, 135, 0.37);
}

@mixin glassy-component {
  background-color: $glass-layer-2;
  border-radius: $glassy-border-radius;
  box-shadow: 8px 8px 20px #0d275029, -8px -8px 20px rgba(212, 250, 181, 0.27);
}

@mixin glassy-component-highlight {
  @include glassy-component;
  background: $glass-highlight-background;
}

@mixin nav-button-hover {
  &:hover {
    backdrop-filter: unset;
    background: color.change($glass-highlight-background, $alpha: 0.8) !important;
    color: #000;
    cursor: pointer;
  }
}
