@use '../base/globals';
@use '../base/mixins' as *;

html {
  font-size: 1em;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

.flex-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 100%;
}

h1 {
  font-size: 3rem;
  width: fit-content;
}

main {
  min-height: 65vh;
  overflow: hidden;
  width: 100%;
}

.logo {
  animation: spin 20s linear infinite;
  height: 55vh;
  object-fit: contain;
  object-position: center;
}

.main-text {
  font-size: 2rem;
  padding-top: 30px;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}
