@use '../base/globals';
@use '../base/mixins' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: globals.$theme-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  position: relative;
  margin-top: globals.$nav-bar-height;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.reading-pane {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  &.column {
    flex-direction: column;
  }
}

.warning {
  color: globals.$warning-color
}
