@use '../base/globals';
@use '../base/mixins' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: globals.$background-color;
  background-color: rgb(57, 187, 100);
  // background-image: linear-gradient(to bottom right, rgb(57, 187, 100), rgb(214, 238, 76));
  // background-size: cover;
  // background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left {
  float: left;
}

.right {
  float: right;
}

.page {
  position: relative;
  margin-top: globals.$nav-bar-height;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.reading-pane {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }
}