@use '../base/globals';
@use '../base/mixins' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: globals.$background-color;
  background-image: linear-gradient(to bottom right, rgb(57, 187, 100), rgb(214, 238, 76));
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  position: relative;
  top: globals.$nav-bar-height;
}

.left {
  float: left;
}

.right {
  float: right;
}