@use '../base/globals';
@use '../base/mixins' as *;


.action-button {
  @include standard-button;
  @include button-hover;
  @include glassy-component-highlight;
  padding: 1em 1.5em;
  font-size: 1.3em;
  font-weight: 600;
  transition: opacity 0.1s ease;

  &:disabled {
    opacity: 0.3;
    cursor: default;
    &:hover {
      background:  globals.$glass-highlight-background;
      color: inherit;
    }
  }
}

.expense-add-button {
  @include standard-button;
  @include expense-action-button;

  right: 0;
  border-radius: 7px 0 7px 0;
}