@use '../base/globals';
@use '../base/mixins' as *;

@mixin standard-button {
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0em;
  font: inherit;
  border-style: none;

  &:active, &:focus {
    outline: none;
  }
}

.action-button {
  @include standard-button;
  padding: 1em 1.5em;
  
  font-size: 1.3em;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 28px 28px 50px #0d275029, -23px -23px 45px #b8ff7e52;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;

  transition: opacity 0.1s ease;

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #000
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
    &:hover {
      background:  rgba(255, 255, 255, 0.8);
      color: inherit;
    }
  }
}

.expense-add-button {
  @include standard-button;
  @include expense-action-button;

  right: 0;
  border-radius: 7px 0 7px 0;
}