@use '../base/globals';
@use '../base/mixins' as *;

.action-button {
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0em;
  font: inherit;
  padding: 1em 1.5em;
  border: none;
  font-size: 1.3em;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 28px 28px 50px #0d275029, -23px -23px 45px #b8ff7e52;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;

  transition: opacity 0.25s ease;

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 1);
    color: #000
  }

  &:disabled {
    opacity: 0;
  }
}
