@use '../base/globals';
@use '../base/mixins' as *;

.call-to-action-container {
  h2 {
    font-size: 3.2em;
    text-align: center;
    margin: 0em;

    @include respond-to(desktop) {
      font-size: 4.5em;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}

.cta-subtitle {
  font-size: 1.4em;
  text-align: center;
  margin-top: 1em;
  line-height: 1.6em;
  max-width: 35ch;
}

.cta-button-container {
  margin-top: 2em;

  &.second {
    margin-top: 4em;
  }
}

.cta-pitches {
  margin-top: 3em;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond-to(tablet) {
    flex-wrap: nowrap;
  }
}

.cta-pitch {
  position: relative;
  flex: 1 1 100%;
  box-sizing: border-box;
  padding: 2em 0em 0em 0em;

  @include respond-to(tablet) {
    max-width: 33.3%;
    padding: 0 1em;
  }
}

.cta-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.cta-copy {
  text-align: center;
  font-size: 1.4em;
  width: 100%;
  padding: 0px 20px;
}