@use '../base/globals';
@use '../base/mixins' as *;
@use 'sass:color';

.dashboard .section-pane {
  align-items: flex-start;
  justify-content: flex-start;
}

$column-gap: 40px;

.dashboard-grid {
  align-items: stretch;

  column-gap: $column-gap;
  display: grid;
  grid-template-areas: 
    'main-header'
    'saving-goal'
    'time-to-goal'
    'saving-per-month'
    'spending-per-week'
    'saving-percentage'
    'summary-header'
    'summary-piechart'
    'summary-breakdown'
    'expenses-header'
    'expenses'
    'expenses-piechart'
    'nav-buttons';
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: stretch;
  padding: 10px;
  row-gap: 30px;

  width: 100%;
  

  @include respond-to(tablet) {
    grid-template-areas: 
      'main-header main-header main-header'
      'saving-goal time-to-goal time-to-goal'
      'saving-per-month spending-per-week spending-per-week'
      'saving-percentage saving-percentage saving-percentage'
      'summary-header summary-header summary-header'
      'summary-piechart summary-breakdown summary-breakdown'
      'expenses-header expenses-header expenses-header'
      'expenses expenses expenses-piechart'
      'nav-buttons nav-buttons nav-buttons';
    grid-template-columns: calc(50% - (#{$column-gap}/2)) 15% 1fr;
    grid-template-rows: auto;
    padding: 30px 40px;
  }

  .main-header {
    grid-area: main-header;
  }

  .saving-goal {
    grid-area: saving-goal;
  }

  .time-to-goal {
    grid-area: time-to-goal;
  }

  .saving-per-month {
    grid-area: saving-per-month;
  }

  .spending-per-week {
    grid-area: spending-per-week;
  }

  .saving-percentage {
    grid-area: saving-percentage;

    .slider-section {
      width: 100%;

      .percentage {
        min-width: 4ch;
        text-align: right;
        text-align: center;
      }

      .slider-input {
        flex: 1 1 50%;
        margin-left: 20px;
        max-width: min(50%, 300px);
      }

    }
  }

  .summary-header {
    grid-area: summary-header;
  }

  .summary-piechart {
    grid-area: summary-piechart;
  }

  .summary-breakdown {
    grid-area: summary-breakdown;
  }

  .expenses-header {
    grid-area: expenses-header;
  }

  .expenses {
    grid-area: expenses;
  }

  .pie-chart-container.expenses {
    grid-area: expenses-piechart;
  }

  .nav-buttons {
    grid-area: nav-buttons;
  }

  .title {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}


.dashboard-pane {
  @include glassy-component;
  height: 100%;
  padding: 20px;
  width: 100%;
}
