@use '../base/globals';
@use '../base/mixins' as *;
@use 'sass:color';

.dashboard .section-pane {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}

$dashboard-grid-column-gap: 30px;
$dashboard-grid-sidebar-width: 175px;

.dashboard-grid {
  align-items: stretch;

  column-gap: $dashboard-grid-column-gap;
  display: grid;
  grid-template-areas:
    'sidebar'
    'main-header'
    'saving-goal'
    'time-to-goal'
    'saving-per-month'
    'spending-per-week'
    'saving-percentage'
    'summary-header'
    'summary-piechart'
    'summary-breakdown'
    'expenses-header'
    'expenses'
    'expenses-piechart'
    'nav-buttons';
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-items: stretch;
  line-height: 1em;
  padding: 10px;
  row-gap: 30px;

  width: 100%;
  

  @include respond-to(tablet) {
    grid-template-areas:
      'sidebar main-header main-header main-header'
      'sidebar saving-goal time-to-goal time-to-goal'
      'sidebar saving-per-month spending-per-week spending-per-week'
      'sidebar saving-percentage saving-percentage saving-percentage'
      'sidebar summary-header summary-header summary-header'
      'sidebar summary-piechart summary-breakdown summary-breakdown'
      'sidebar expenses-header expenses-header expenses-header'
      'sidebar expenses expenses expenses-piechart'
      'sidebar nav-buttons nav-buttons nav-buttons';
    grid-template-columns: auto 5fr 1fr 4fr;
    grid-template-rows: auto;
    padding: 0 $dashboard-grid-column-gap 0 0;
  }


  
  .main-header {
    grid-area: main-header;
    margin: 30px 0 0;
    text-align: left;
  }

  .saving-goal {
    grid-area: saving-goal;
  }

  .time-to-goal {
    grid-area: time-to-goal;
  }

  .saving-per-month {
    grid-area: saving-per-month;
  }

  .spending-per-week {
    grid-area: spending-per-week;
  }

  .saving-percentage {
    grid-area: saving-percentage;

    .slider-section {
      width: 100%;

      .percentage {
        min-width: 4ch;
        text-align: right;
        text-align: center;
      }

      .slider-input {
        flex: 1 1 50%;
        margin-left: 20px;
        max-width: min(50%, 300px);
      }

    }
  }

  .summary-header {
    grid-area: summary-header;
  }

  .summary-piechart {
    grid-area: summary-piechart;
  }

  .summary-breakdown {
    grid-area: summary-breakdown;
  }

  .expenses-header {
    grid-area: expenses-header;
  }

  .expenses {
    grid-area: expenses;
  }

  .pie-chart-container.expenses {
    grid-area: expenses-piechart;
  }

  .nav-buttons {
    grid-area: nav-buttons;
  }

  .title {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}


.dashboard-pane {
  @include glassy-component;
  height: 100%;
  padding: 20px;
  width: 100%;
}




.dashboard .sidebar {
  @include glassy-component;
  display: flex;
  grid-area: sidebar;
  height: 100%;
  width: 100%;

  @include respond-to(tablet) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex-direction: column;
    padding: 0;
  }

  .section-title {
    align-items: center;
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1em;
    padding: 20px;
  }

  .icon + .text {
    margin-left: 10px;
    margin-top: -2px;
  }

  .icon {
    font-size: 1.2em;
  }

  .sidebar-button {
    @include standard-button;
    align-items: center;
    background: unset;
    background-color: rbga(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    line-height: 1em;
    padding: 10px 20px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 1);
    }
  }
}
