@use '../base/globals';
@use '../base/mixins' as *;
@use "sass:color";

.dashboard .section-pane {
  justify-content: flex-start;
  align-items: flex-start;
}

$column-gap: 30px;

.dashboard-grid {

  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "main-header"
    "saving-goal"
    "time-to-goal"
    "saving-per-month"
    "spending-per-week"
    "saving-percentage"
    "summary-header"
    "summary-piechart"
    "summary-breakdown"
    "expenses-header"
    "expenses"
    "expenses-piechart"
    "nav-buttons";

  column-gap: $column-gap;
  row-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
  

  @include respond-to(tablet) {
    padding: 30px;
    grid-template-columns: calc(50% - (#{$column-gap}/2)) 15% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "main-header main-header main-header"
      "saving-goal time-to-goal time-to-goal"
      "saving-per-month spending-per-week spending-per-week"
      "saving-percentage saving-percentage saving-percentage"
      "summary-header summary-header summary-header"
      "summary-piechart summary-breakdown summary-breakdown"
      "expenses-header expenses-header expenses-header"
      "expenses expenses expenses-piechart"
      "nav-buttons nav-buttons nav-buttons";
  }

  .main-header {
    grid-area: main-header;
  }

  .saving-goal {
    grid-area: saving-goal;
  }

  .time-to-goal {
    grid-area: time-to-goal;
  }

  .saving-per-month {
    grid-area: saving-per-month;
  }

  .spending-per-week {
    grid-area: spending-per-week;
  }

  .saving-percentage {
    grid-area: saving-percentage;

    .slider-section {
      width: 100%;

      .percentage {
        text-align: right;
        min-width: 4ch;
        text-align: center;
      }

      .slider-input {
        flex: 1 1 50%;
        max-width: min(50%, 300px);
        margin-left: 20px;
      }

    }
  }

  .summary-header {
    grid-area: summary-header;
  }

  .summary-piechart {
    grid-area: summary-piechart;
  }

  .summary-breakdown {
    grid-area: summary-breakdown;
  }

  .expenses-header {
    grid-area: expenses-header;
  }

  .expenses {
    grid-area: expenses;
  }

  .pie-chart-container.expenses {
    grid-area: expenses-piechart;
  }

  .nav-buttons {
    grid-area: nav-buttons;
  }

  .title {
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }
}


.dashboard-pane {
  @include glassy-component;
  padding: 20px;
  height: 100%;
  width: 100%;
}
