@use '../base/globals';
@use '../base/mixins' as *;
@use "sass:color";

$section-padding: 8px;

.homepage-content {
  margin-top: 0;
  overflow: hidden;
  transition: margin-top globals.$section-transition-time;

  &.nav-offest {
    margin-top: globals.$nav-title-offset;
  }
}

.section-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  padding: $section-padding;
  box-sizing: border-box;
  justify-content: center;
  min-height: calc(100vh - #{globals.$nav-bar-height});
  transition: left globals.$section-transition-time;

  &.current-section {
    position: relative;
  }

  @include respond-to(tablet) {
    padding: $section-padding + 10px;
  }
}

.section-pane {
  @include glassy-panel;
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section-navigation-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 0px 20px;
}

.side-blur {
  position: absolute;
  height: 100%;
  z-index: 2;
  top: 0;
  width: 3px;

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(globals.$theme-color, 1) 0%, rgba(globals.$theme-color, 0) 100%);
  }
  &.right {
    right: 0;
    background: linear-gradient(to left, rgba(globals.$theme-color, 1) 0%, rgba(globals.$theme-color, 0) 100%);
  }
}