@use '../base/globals';
@use '../base/mixins' as *;
@use "sass:color";

// Variables
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;
$title-base-font-size: 30px;
$title-dynamic-font-size: 65px;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: black,
  $bar_color_clicked: black,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96
);

.hamburger_container {
  align-self: flex-start;
  padding-top: globals.$nav-bar-height - 55px;
  box-sizing: border-box;
}

.nav-bar-container-section {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: globals.$nav-bar-height;
  display: flex;
  justify-content: center;
  z-index: 999;
  font-size: 2em;

  background: color.change(globals.$glass-layer-1, $alpha: 0.8);
  box-shadow: 0px 7px 8px 0px rgba(16, 18, 22, 0.18);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.nav-bar-container-responsive {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  font-size: 30px;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }

  img {
    height: globals.$nav-bar-height;
    width: globals.$nav-bar-height;
  }
}

@mixin nav-side-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  height: globals.$nav-bar-height;
}

.nav-left {
  @include nav-side-container;
  left: 5px;
  margin-left: 10px;
}

.nav-right {
  @include nav-side-container;
  right: 0;
  margin-right: 10px;
  flex-direction: row-reverse;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: $title-base-font-size;
}

.nav-title {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.nav-title-homepage {
  font-size: $title-dynamic-font-size;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 44px;
  width: 100%;
  margin: ((globals.$nav-bar-height - $title-base-font-size)/2) 0;
  line-height: 1em;
  transition: font-size globals.$section-transition-time, padding globals.$section-transition-time;

  &.minimized {
    font-size: 1em;
    padding: 0;
  }
}

.nav-dropdown-menu {
  @include glassy-component-highlight;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  left: 0px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.2s;
  padding-top: globals.$nav-bar-height;
  padding-bottom: 2px;
  background-color: color.change(globals.$glass-highlight-background, $alpha: 0.9);
  z-index: -1;
  border-radius: 0;

  @include respond-to(tablet) {
    display: none;
  }

  &.clicked {
    opacity: 1;
    max-height: 500px;
    z-index: 2;
  }
}

.burger-menu {
  @include respond-to(tablet) {
    display: none;
  }
}

.drop-down-button {
  width: 100%;

  a {
    @include button-hover;
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 8px 0px;
    color: black;
    text-decoration: none;
    padding: 0.25em 1em;
  }

  + .drop-down-button {
    margin-top: 3px;
  }
}

.nav-menu-button {
  @include nav-button-hover;
  display: none;
  height: globals.$nav-bar-height;

  @include respond-to(tablet) {
    display: block;
  }

  a, a:link, a:visited {
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0 0.5em;
  }
}