@use '../base/globals';
@use '../base/mixins' as *;

// Variables
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: black,
  $bar_color_clicked: black,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96
);

.navBarContainerSection {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: globals.$nav-bar-height;
  display: flex;
  justify-content: center;
  background-color: globals.$background-color;
  z-index: 999;
}

.navBarContainerResponsive {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 30px;

  @include respond-to(tablet) {
    // background-color: green;
  }
  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
    // background-color: red;
  }
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navTitle {
  // align-self: flex-start;
  flex: 1 1 100%;
} 

.navTitleHomepage {
  font-size: 65px;
  top: globals.$nav-title-offset;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  right: -5px;
  top: 100%;
  width: auto;
  box-sizing: border-box;
  background: globals.$background-color;
  flex-direction: column;

  &.clicked {
    display: flex;
  }
}

.drop-down-button {

  position: relative;
  width: 100%;

  a {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 8px 0px;
    color: black;
    text-decoration: none;
    padding: 0.25em 1em;

    &:hover {
      background: globals.$button-hover-color;
    }
  }
}
