@use '../base/globals';
@use '../base/mixins' as *;
@use 'sass:color';

// Variables
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;
$title-base-font-size: 30px;
$title-dynamic-font-size: 65px;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: black,
  $bar_color_clicked: black,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96
);

.hamburger-container {
  @include standard-button;
  align-self: flex-start;
  box-sizing: border-box;
  display: flex;
}

.nav-bar-container-section {
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  background: color.change(globals.$glass-layer-1, $alpha: 0.8);
  box-shadow: 0 7px 8px 0 rgba(16, 18, 22, 0.18);
  display: flex;
  font-size: 2em;
  justify-content: center;
  left: 0;
  min-height: globals.$nav-bar-height;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.nav-bar-container-responsive {
  display: flex;
  font-size: 30px;
  justify-content: center;
  min-width: 200px;
  width: 100%;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }

  img {
    height: globals.$nav-bar-height;
    padding: 3px;
    width: globals.$nav-bar-height;
  }
}

@mixin nav-side-container {
  align-items: center;
  display: flex;
  height: globals.$nav-bar-height;
  position: absolute;
  top: 0;
}

.nav-left {
  @include nav-side-container;
  left: 5px;
  margin-left: 10px;
}

.nav-right {
  @include nav-side-container;
  margin-right: 10px;
  right: 0;
}

.nav-item {
  display: flex;
  font-size: $title-base-font-size;
  justify-content: center;
}

.nav-title {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
} 

.nav-title-homepage {
  font-size: $title-dynamic-font-size;
  line-height: 1em;
  margin: ((globals.$nav-bar-height - $title-base-font-size)/2) 0;
  padding: 0;
  padding-bottom: 44px;
  padding-top: 44px;
  transition: font-size globals.$section-transition-time, padding globals.$section-transition-time;
  width: 100%;

  &.minimized {
    font-size: 1em;
    padding: 0;
  }
}

.nav-dropdown-menu {
  display: flex;
  flex-direction: column;
  height: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: z-index 0.2s step-end, height 0.2s step-end;
  width: 100%;
  z-index: -1;

  @include respond-to(tablet) {
    display: none;
  }

  .links {
    background-color: color.change(globals.$glass-highlight-background, $alpha: 0.97);
    height: fit-content;
    max-height: 0;
    opacity: 0;
    padding: globals.$nav-bar-height 0;
    padding-bottom: 10px;
    transition: all 0.2s;
    width: 100%;
  }

  .screen-cover {
    @include standard-button;
    background-color: #000;
    flex: 1 1 100%;
    opacity: 0;
    transition: all 0.2s;
  }

  &.clicked {
    height: 100vh;
    transition: unset;
    z-index: 2;

    .links {
      max-height: 500px;
      opacity: 1;
    }

    .screen-cover {
      opacity: 0.4;
    }
  }
}

.burger-menu {
  @include respond-to(tablet) {
    display: none;
  }
}

.drop-down-button {
  width: 100%;

  a {
    @include button-hover;
    color: black;
    display: block;
    padding: 8px 0;
    padding: 0.25em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  + .drop-down-button {
    margin-top: 3px;
  }
}

.nav-menu-button {
  @include nav-button-hover;
  display: none;
  font-size: 25px;
  height: globals.$nav-bar-height;

  @include respond-to(tablet) {
    display: block;
  }

  a,
  a:link,
  a:visited {
    color: #000;
    height: 100%;
    padding: 0 0.5em;
    text-decoration: none;
    width: 100%;
  }
}
