@use '../base/globals';
@use '../base/mixins' as *;

// Variables
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: black,
  $bar_color_clicked: black,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96
);

.hamburger_container {
  align-self: flex-start;
  padding-top: globals.$nav-bar-height - 55px;
  box-sizing: border-box;
}

.nav-bar-container-section {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: globals.$nav-bar-height;
  display: flex;
  justify-content: center;
  z-index: 999;
  font-size: 2em;

  background: rgb(150 210 147 / 80%);
  box-shadow: 0px 7px 8px 0px rgba(16, 18, 22, 0.18);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.nav-bar-container-responsive {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-size: 30px;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }

  img {
    height: globals.$nav-bar-height;
    width: globals.$nav-bar-height;
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  &.dynamic {
    height: fit-content;
    min-height: 100%;
  }
}

.nav-title {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.nav-title-homepage {
  font-size: 65px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  right: -5px;
  top: 100%;
  width: auto;
  box-sizing: border-box;
  background: globals.$background-color;
  flex-direction: column;

  &.clicked {
    display: flex;
  }
}

.drop-down-button {

  position: relative;
  width: 100%;

  a {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 8px 0px;
    color: black;
    text-decoration: none;
    padding: 0.25em 1em;

    &:hover {
      background: globals.$button-hover-color;
    }
  }
}
