@use '../base/globals';
@use '../base/mixins' as *;
@use "sass:color";

// Variables
$sidebar-transition: 0.3s;
$btn-hover-animation: 0.2s;

// Vendor
@use '../vendor/hamburger' with(
  $container_position: relative,
  $container_height: 55px,
  $container_width: 55px,
  $container_z_index: 7,
  $container_color: none,
  $hamburger_padding: 6px 6px,
  $bar_height: 5px,
  $bar_color_normal: black,
  $bar_color_clicked: black,
  $animation_duration: $sidebar-transition,
  $length_scale: 0.96
);

.hamburger_container {
  align-self: flex-start;
  padding-top: globals.$nav-bar-height - 55px;
  box-sizing: border-box;
}

.nav-bar-container-section {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: globals.$nav-bar-height;
  display: flex;
  justify-content: center;
  z-index: 999;
  font-size: 2em;

  background: color.change(globals.$glass-layer-1, $alpha: 0.8);
  box-shadow: 0px 7px 8px 0px rgba(16, 18, 22, 0.18);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
}

.nav-bar-container-responsive {
  width: 100%;
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 0px 5px;
  font-size: 30px;

  @include respond-to(desktop) {
    max-width: globals.$breakpoint-desktop;
  }

  img {
    height: globals.$nav-bar-height;
    width: globals.$nav-bar-height;
  }
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &.dynamic {
    height: fit-content;
    min-height: 100%;
  }
}

.nav-title {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.05s, padding 0.05s;

  .minimized {
    font-size: 1em;
    padding: 0;
    transition: font-size 0.25s, padding 0.25s;
  }
} 

.nav-title-homepage {
  font-size: 65px;
  box-sizing: border-box;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-dropdown-menu {
  @include glassy-component-highlight;
  position: absolute;
  top: globals.$nav-bar-height;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 0;
  left: 0px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.2s;

  &.clicked {
    opacity: 1;
    max-height: 500px;
  }
}

.drop-down-button {
  @include button-hover;
  width: 100%;

  a {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 8px 0px;
    color: black;
    text-decoration: none;
    padding: 0.25em 1em;
  }
}

.burger-menu {
  @include respond-to(tablet) {
    display: none;
  }
}

.nav-menu-button {
  display: none;
  @include respond-to(tablet) {
    display: block;
  }
}