@use '../base/globals';
@use '../base/mixins' as *;
@use 'sass:color';

$toggle-switch-height: 2.5em;
$toggle-switch-margin: 0.5em;

.saving-percentages-selector {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200%;
}

.saving-percentages-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  transition: left 0.35s cubic-bezier(0.4, 0.1, 0.7, 0.99);
  width: 50%;

  &.left-toggle {
    left: -25%;

    &.toggled {
      left: 25%;
    }
  }

  &.right-toggle {
    align-self: flex-end;
    left: 25%;

    &.toggled {
      left: -25%;
    }
  }
}

.saving-percentage-card {
  @include standard-button;
  @include button-hover;
  @include button-selected;
  @include glassy-component-highlight;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5px;
  max-width: min(30%, 300px);
  min-width: 200px;
  padding: 20px 10px;

  &.not-available {
    cursor: default;
    opacity: 0.4 !important;

    &:hover {
      @include glassy-component-highlight;
    }
  }

  .percentage {
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .time {
    font-size: 0.9em;
    height: auto;
    width: 100%;
  }

  .heading {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    width: 100%;
  }

  .value {
    line-height: 1em;
    margin-top: 0.4em;
    min-height: 1em;
    text-align: center;
    width: 100%;
  }

  .half-width {
    width: 50%;
  }

  &.slider {
    cursor: default;
    max-width: min(75%, 400px);

    &::after {
      content: unset;
    }
  }

  .slider-section {
    margin: 0.7em 0;
  }

  .slider-input {
    background: #d3d3d3;
  }
}

.toggle-switch-container {
  width: 100%;

  .toggle-switch {
    @include standard-button;
    @include glassy-component-highlight;
    @include button-hover;
    height: $toggle-switch-height;
    margin-top: $toggle-switch-margin;
    padding: 0 1em;
  }
}
