/*
Sass Styles
┬
|– App.scss                   # Primary Site Sass file
|   
|– styles/           
|   |
|   |– base/
|   |   |– _normalize.scss    # Import vendor normalize.css
|   |   |– _typography.scss   # Typography rules
|   |   |– _globals.scss      # Sass variables
|   |   |– _mixins.scss       # Sass mixins
|   |   |– _page.scss         # General page structure
|   |   ┴
|   |
|   |– components/
|   |   |– _buttons.scss          # Buttons
|   |   |– _navbar.scss           # Global navbar
|   |   |– _call-to-action.scss   # CTA section styles
|   |   |– _inputs.scss           # input boxes
|   |   |– _expenses.scss         # expenses boxes
|   |   ┴
|   |
|   |– vendor/
|   |   |– normalize.css      # Normalize.css https://github.com/necolas/normalize.css
|   |   ┴
┴   ┴
*/

// Application Partials
@use 'base/normalize';
@use 'base/globals';
@use 'base/mixins';
@use 'base/typography';
@use 'base/page';

// Application Components
@use 'components/buttons';
@use 'components/navbar';
@use 'components/homepage-content';
@use 'components/call-to-action';
@use 'components/inputs';
@use 'components/expenses';

// Site Wide Vendor
